*{
    margin: 0px;
    padding: 0px;
}

.container{
    display: flex;
    margin: 50px auto;
    background-color: black;
    width: 700px;
    height: 700px;
}

.col-right{
    margin-left: 20px;
}

.wb1{
    height: 200px;
    width: 150px;
    background: whitesmoke;
}

.wb2{
    margin-top: 60px;
    height: 250px;
    width: 150px;
    background: whitesmoke;
}
.bb{
    margin-top: 20px;
    height: 170px;
    width: 150px;

    background: rgb(1, 92, 163);
}

.rb{
    background: red;
    width: 530px;
    height: 510px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* background: hotpink; */
    height: 170px;
}

.wb3{
    background: whitesmoke;
    height: 170px;
    width: 430px;
}

.wb4{
    height: 75px;
    width: 80px;
    background: whitesmoke;
}

.yb{
    margin-top: 20px;
    height: 75px;
    width: 80px;
    background: yellow;
}